# IMPORTANDO BIBLIOTECAS, ARQUIVOS DE DADOS E REALIZANDO A LEITURA

In [1]:
# Importando bibliotecas necessárias
import pandas as pd

In [2]:
# Configurando a exibição do dataframe
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_colwidth', None)

In [3]:
# Realizando a importação dos arquivos necessários

# Dataframe "fraudTest.csv"
df_teste = "https://media.githubusercontent.com/media/jeanbrandao01/Fraud_Detection_ML/dev/Data/fraudTest.csv"

# Dataframe "fraudTrain.csv"
df_treino = "https://media.githubusercontent.com/media/jeanbrandao01/Fraud_Detection_ML/dev/Data/fraudTrain.csv"

In [4]:
# Realizando a leitura dos arquivos necessários

# Dataframe "fraudTest.csv"
df_teste = pd.read_csv(df_teste)

# Dataframe "fraudTrain.csv"
df_treino = pd.read_csv(df_treino)

# EXIBIÇÃO DOS DATAFRAMES ORIGINAIS

In [5]:
# Dataframe "fraudTest.csv"
df_teste.head()

   Unnamed: 0 trans_date_trans_time            cc_num                              merchant        category    amt   first      last gender                       street        city state    zip      lat      long  city_pop                     job         dob                         trans_num   unix_time  merch_lat  merch_long  is_fraud
0           0   2020-06-21 12:14:25  2291163933867244                 fraud_Kirlin and Sons   personal_care   2.86    Jeff   Elliott      M            351 Darlene Green    Columbia    SC  29209  33.9659  -80.9355    333497     Mechanical engineer  1968-03-19  2da90c7d74bd46a0caf3777415b3ebd3  1371816865  33.986391  -81.200714         0
1           1   2020-06-21 12:14:33  3573030041201292                  fraud_Sporer-Keebler   personal_care  29.84  Joanne  Williams      F             3638 Marsh Union     Altonah    UT  84002  40.3207 -110.4360       302  Sales professional, IT  1990-01-17  324cc204407e99f51b0d6ca0055005e7  1371816873  39.450498 -109.960431         0
2           2   2020-06-21 12:14:53  3598215285024754  fraud_Swaniawski, Nitzsche and Welch  health_fitness  41.28  Ashley     Lopez      F         9333 Valentine Point    Bellmore    NY  11710  40.6729  -73.5365     34496       Librarian, public  1970-10-21  c81755dbbbea9d5c77f094348a7579be  1371816893  40.495810  -74.196111         0
3           3   2020-06-21 12:15:15  3591919803438423                     fraud_Haley Group        misc_pos  60.05   Brian  Williams      M  32941 Krystal Mill Apt. 552  Titusville    FL  32780  28.5697  -80.8191     54767            Set designer  1987-07-25  2159175b9efe66dc301f149d3d5abf8c  1371816915  28.812398  -80.883061         0
4           4   2020-06-21 12:15:17  3526826139003047                 fraud_Johnston-Casper          travel   3.19  Nathan    Massey      M     5783 Evan Roads Apt. 465    Falmouth    MI  49632  44.2529  -85.0170      1126      Furniture designer  1955-07-06  57ff021bd3f328f8738bb535c302a31b  1371816917  44.959148  -85.884734         0

In [6]:
# Dataframe "fraudTrain.csv"
df_treino.head()

   Unnamed: 0 trans_date_trans_time            cc_num                            merchant       category     amt      first     last gender                        street            city state    zip      lat      long  city_pop                                job         dob                         trans_num   unix_time  merch_lat  merch_long  is_fraud
0           0   2019-01-01 00:00:18  2703186189652095          fraud_Rippin, Kub and Mann       misc_net    4.97   Jennifer    Banks      F                561 Perry Cove  Moravian Falls    NC  28654  36.0788  -81.1781      3495          Psychologist, counselling  1988-03-09  0b242abb623afc578575680df30655b9  1325376018  36.011293  -82.048315         0
1           1   2019-01-01 00:00:44      630423337322     fraud_Heller, Gutmann and Zieme    grocery_pos  107.23  Stephanie     Gill      F  43039 Riley Greens Suite 393          Orient    WA  99160  48.8878 -118.2105       149  Special educational needs teacher  1978-06-21  1f76529f8574734946361c461b024d99  1325376044  49.159047 -118.186462         0
2           2   2019-01-01 00:00:51    38859492057661                fraud_Lind-Buckridge  entertainment  220.11     Edward  Sanchez      M      594 White Dale Suite 530      Malad City    ID  83252  42.1808 -112.2620      4154        Nature conservation officer  1962-01-19  a1a22d70485983eac12b5b88dad1cf95  1325376051  43.150704 -112.154481         0
3           3   2019-01-01 00:01:16  3534093764340240  fraud_Kutch, Hermiston and Farrell  gas_transport   45.00     Jeremy    White      M   9443 Cynthia Court Apt. 038         Boulder    MT  59632  46.2306 -112.1138      1939                    Patent attorney  1967-01-12  6b849c168bdad6f867558c3793159a81  1325376076  47.034331 -112.561071         0
4           4   2019-01-01 00:03:06   375534208663984                 fraud_Keeling-Crist       misc_pos   41.96      Tyler   Garcia      M              408 Bradley Rest        Doe Hill    VA  24433  38.4207  -79.4629        99     Dance movement psychotherapist  1986-03-28  a41d7549acf90789359a9aa5346dcb46  1325376186  38.674999  -78.632459         0

# COMPARAÇÃO E ANÁLISE DOS DATAFRAMES DE TESTE E TREINO

In [7]:
# Verificando as colunas existente do dataset de teste: fraudTest.csv
df_teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 97.5+ MB

In [8]:
# Verificando as colunas existente do dataset de treino: fraudTrain.csv
df_treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB

In [9]:
# Realizando a contagem de valores da coluna "merchant" do dataframe de teste: fraudTest.csv
df_teste.merchant.value_counts()

merchant
fraud_Kilback LLC                        1859
fraud_Cormier LLC                        1597
fraud_Schumm PLC                         1561
fraud_Kuhn LLC                           1521
fraud_Dickinson Ltd                      1519
                                         ...
fraud_Treutel-King                        323
fraud_Satterfield-Lowe                    319
fraud_Kessler Group                       318
fraud_Jerde-Hermann                       312
fraud_Ritchie, Bradtke and Stiedemann     304
Name: count, Length: 693, dtype: int64

In [10]:
# Realizando a contagem de valores da coluna "merchant" do dataframe de treino: fraudTrain.csv
df_treino.merchant.value_counts()

merchant
fraud_Kilback LLC                       4403
fraud_Cormier LLC                       3649
fraud_Schumm PLC                        3634
fraud_Kuhn LLC                          3510
fraud_Boyer PLC                         3493
                                        ...
fraud_Douglas, DuBuque and McKenzie      775
fraud_Treutel-King                       775
fraud_Medhurst, Labadie and Gottlieb     759
fraud_Reichert-Weissnat                  753
fraud_Hahn, Douglas and Schowalter       727
Name: count, Length: 693, dtype: int64

In [11]:
# Realizando a contagem de valores da coluna "is_fraud" do dataframe de teste: fraudTest.csv e de treino: fraudTrain.csv

print("Contagem de valores da coluna is_fraud:")
print("-"*39)


# Dataset de teste: fraudTest.csv
print("Dataset de teste:")
print(df_teste.is_fraud.value_counts())
print("-"*18)
# Dataset de treino: fraudTrain.csv
print("Dataset de treino:")
print(df_treino.is_fraud.value_counts())

Contagem de valores da coluna is_fraud:
---------------------------------------
Dataset de teste:
is_fraud
0    553574
1      2145
Name: count, dtype: int64
------------------
Dataset de treino:
is_fraud
0    1289169
1       7506
Name: count, dtype: int64

In [12]:
# Verificando a extensão do dataset de teste: fraudTest.csv e de treino: fraudTrain.csv

print("Extensão dos datasets:")
print("-"*23)

# Dataset de treino: fraudTest.csv
print("Extensão do dataset teste:")
print(df_treino.shape)
print("-"*27)
# Dataset de treino: fraudTrain.csv
print("Extensão do dataset treino:")
print(df_treino.shape)

Extensão dos datasets:
-----------------------
Extensão do dataset teste:
(1296675, 23)
---------------------------
Extensão do dataset treino:
(1296675, 23)

In [13]:
# Verificando os nomes de cada coluna do dataframe de teste: fraudTest.csv e de treino: fraudTrain.csv

print("Nomes das colunas dos datasets")

# Dataset de treino: fraudTest.csv
print("Colunas do dataset teste:")
print(df_teste.columns)
print("-"*80)
print("-"*80)
# Dataset de treino: fraudTrain.csv
print("Colunas do dataset treino:")
print(df_treino.columns)

Nomes das colunas dos datasets
Colunas do dataset teste:
Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Colunas do dataset treino:
Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')